@font-face {
	font-family: 'EliceDigitalBaeum';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'EliceDigitalBaeum';
}

:root { 
	--dark-body: #4d4c5a;
	--dark-main: #141529;
	--dark-second: #79788c;
	--dark-hover: #323048;
	--dark-text: #f8fbff;
	--dark-left-button: #141529de;
	--dark-right-button: #141529e6;
	--dark-footer:#6c757d82;
	--light-body: #f3f8fe;
	--light-main: #fffff0;
	--light-second: #c3c2c8;
	--light-hover: #edf0f5;
	--light-text: #151426;
	--light-left-button: #eeeeee; 
	--light-right-button : #c3c2c8;
	--light-footer: #f5f5f5;
	--blue: #0000ff;
	--white: #fff;
	--shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	--font-family: 'EliceDigitalBaeum';
	--src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2')
		format('woff2');
	--font-weight: normal;
	--font-style: normal;
	--light-right-button: #c3c2c8;
	
}

.dark {
	--bg-body: var(--dark-body);
	--bg-main: var(--dark-main);
	--bg-second: var(--dark-second);
	--color-hover: var(--dark-hover);
	--color-txt: var(--dark-text);
	--color-left: var(--dark-left-button);
	--color-right: var(--dark-right-button);
	--color-footer:var(--dark-footer);
}

.light {
	--bg-body: var(--light-body);
	--bg-main: var(--light-main);
	--bg-second: var(--light-second);
	--color-hover: var(--light-hover);
	--color-txt: var(--light-text);
	--color-left: var(--light-left-button);
	--color-right: var(--light-right-button);
	--color-footer:var(--light-footer); 
}

body, html {
	height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */
@
-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
	html, body {
		min-width: 320px;
	}
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #ffffff;
}

/* Type */
html {
	font-size: 13pt;
}

@media screen and (max-width: 1280px) {
	html {
		font-size: 12pt;
	}
}

@media screen and (max-width: 990px) {
	html {
		font-size: 11pt;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 10pt;
	}
}

@media screen and (max-width: 576px) {
	html {
		font-size: 9pt;
	}
}

@media screen and (max-width: 360px) {
	html {
		font-size: 8pt;
	}
}

@media screen and (max-width: 280px) {
	html {
		font-size: 7pt;
	}
}



body, input, select, textarea {
	font-family: 'EliceDigitalBaeum';
	font-weight: 300;
	line-height: 2.375;
}


a:hover {
	border-bottom-color: transparent;
}

strong, b {
	font-weight: 600;
}

em, i {
	font-style: italic;
}

p {
	text-align: justify;
	margin: 0 0 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'EliceDigitalBaeum';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	margin: 2.5% 0 1rem 0;
}

h3 {
	font-size: 115%;
	margin: 0 0 0.5rem 0;
}

hr {
	border: 0;
	border-bottom: solid 2px;
	margin: 3rem 0;
}

hr.major {
	margin: 5rem 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color-txt);
}

hr {
	border-bottom-color: #eeeeee;
}

.box {
	border: solid 0.5px;
	text-align: center;
	display: inline-grid;
	width: 100%;
	height: 100%;
	align-content: space-evenly;
	background-color: var(--bg-main);
}

.box>:last-child, .box>:last-child>:last-child, .box>:last-child>:last-child>:last-child
	{
	margin-bottom: 0;
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

.box {
	border-color: #eeeeee;
}

label {
	display: block;
	font-family: 'EliceDigitalBaeum';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 0.075em;
	font-size: 0.8rem;
	text-transform: uppercase;
	margin: 0 0 0 -1.25rem 0;
}

label {
	color: var(--color-txt);
}

#main {
	background-color: var(--bg-main);
	color: var(--color-txt);
	position: relative;
	margin: 0 auto;
	width: calc(100% - 4rem);
	max-width: 100%;
	height: 100%;
	z-index: 2;
	border-radius: 1rem;
	border-top: solid 2px #eeeeee;
	box-shadow: rgb(100 100 111/ 20%) 0px 7px 29px 0px;
}

#main>*:first-child {
	border-top: 0;
}

#main>footer {
	text-align: center;
}

#main>.post header.major>.date {
	margin-top: -2rem;
}

#main>.post header.major>h1, #main>.post header.major h2 {
	font-size: 4rem;
	line-height: 1.1;
	margin: 0 0 2rem 0;
}

#main>.post.featured {
	text-align: center;
	height: 70%;
	padding-top: 1rem;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 736px) {
	#main>.post header.major>.date {
		margin-top: -1rem;
		margin-bottom: 2rem;
	}
	#main>.post header.major>h1, #main>.post header.major h2 {
		font-size: 2.5rem;
		line-height: 1.2;
		margin: 0 0 1.5rem 0;
	}
}

#main>.posts {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: -moz-stretch;
	-webkit-align-items: -webkit-stretch;
	-ms-align-items: -ms-stretch;
	align-items: stretch;
	text-align: center;
	width: 100%;
	padding: 0;
}

.ct-golden-section {
	height: 72.8%
}

@media screen and (max-width: 290px) {
	.ct-golden-section {
		height: 85%
	}
}

#main>.posts>* {
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}

#main>.posts>article {
	border-color: #eeeeee;
	border-left-width: 2px;
	border-style: solid;
	border-top-width: 2px;
	text-align: center;
}

/* Footer */
#footer {
	color: var(--color-txt);
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	background-color: var(--color-footer);
	cursor: default;
	position: relative;
	max-width: 100%;
	z-index: 2;
	width: 100%;
	height: 49.5%;
	padding: 1rem 1rem 1rem 1rem;
}

@media screen and (max-width: 290px) {
	#footer {
		height: 63%;
	}
}

#footer a {
	color: var(--color-txt);
	border-bottom-color: rgba(113, 121, 129, 0.5);
}

#footer strong, #footer b {
	color: var(--color-txt);
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	color: var(--color-txt);
}

#footer hr {
	border-bottom-color: #e2e2e2;
}

#footer .box {
	border-color: #e2e2e2;
}

#footer label {
	color: var(--color-txt);
}

#footer .select-wrapper:before {
	color: var(--color-txt);
}

#footer input[type="checkbox"]+label, #footer input[type="radio"]+label
	{
	color: var(--color-txt);
}

#footer input[type="checkbox"]+label:before, #footer input[type="radio"]+label:before
	{
	border-color: #e2e2e2;
}

#footer input[type="checkbox"]:checked+label:before, #footer input[type="radio"]:checked+label:before
	{
	background-color: #717981;
	border-color: #717981;
	color: var(--color-txt);
}

#footer input[type="checkbox"]:focus+label:before, #footer input[type="radio"]:focus+label:before
	{
	border-color: #18bfef;
}

#footer ::-webkit-input-placeholder {
	color: var(--color-txt) !important;
}

#footer :-moz-placeholder {
	color: #b3b7bb !important;
}

#footer ::-moz-placeholder {
	color: #b3b7bb !important;
}

#footer :-ms-input-placeholder {
	color: #b3b7bb !important;
}

#footer .formerize-placeholder {
	color: #b3b7bb !important;
}

#footer ul.divided li {
	border-top-color: #e2e2e2;
}

#footer ul.icons li a.icon:hover:before {
	color: #18bfef;
}

#footer ul.icons.alt li .icon:before {
	box-shadow: inset 0 0 0 2px #e2e2e2;
}

#footer ul.icons.alt li a.icon:hover:before {
	box-shadow: inset 0 0 0 2px #18bfef;
}

#footer header.major .date:before, #footer header.major .date:after {
	border-top-color: #e2e2e2;
}

#footer table tbody tr {
	border-color: #e2e2e2;
}

#footer table tbody tr:nth-child(2n+1) {
	background-color: rgba(220, 220, 220, 0.5);
}

#footer table th {
	color: #717981;
}

#footer table thead {
	border-bottom-color: #e2e2e2;
}

#footer table tfoot {
	border-top-color: #e2e2e2;
}

#footer table.alt tbody tr td {
	border-color: #e2e2e2;
}

#footer .pagination a, #footer .pagination span {
	border-color: #e2e2e2;
}

#footer .pagination a {
	color: #717981 !important;
}

#footer .pagination a:hover {
	color: #18bfef !important;
	border-color: #18bfef;
	z-index: 1;
}

#footer .pagination a:hover+a, #footer .pagination a:hover+span {
	border-left-color: #18bfef;
}

#footer .pagination a.active {
	background-color: #e2e2e2;
}

#footer .pagination span {
	color: #e2e2e2;
}

#footer>section {
	-moz-flex-basis: 50%;
	-webkit-flex-basis: 50%;
	-ms-flex-basis: 50%;
	flex-basis: 50%;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	padding: 1rem 2rem 1rem 2rem;
	border-left: solid 2px #e2e2e2;
}

#footer>section:first-child {
	border-left: 0;
}

#footer>section.split {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0;
}

#footer>section.split>section {
	padding: 3rem 4rem 1rem 4rem;
	border-top: solid 2px #e2e2e2;
}

#footer>section.split>section:first-child {
	padding: 5rem 4rem 1rem 4rem;
	border-top: 0;
}

#footer>section.split>section:last-child {
	padding: 3rem 4rem 3rem 4rem;
}

#footer>section.split.contact>section {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding: 3.15rem 4rem;
}

#footer>section.split.contact>section>* {
	margin-bottom: 0;
}

#footer>section.split.contact>section>:first-child {
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	width: 6rem;
}

#footer>section.split.contact>section>:last-child {
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

#footer>section.split.contact>section:first-child {
	padding: 4rem 4rem 3rem 4rem;
}

#footer>section.split.contact>section:last-child {
	padding: 3rem 4rem 4rem 4rem;
}

#footer>section.split.contact>section.alt {
	-moz-align-items: -moz-flex-start;
	-webkit-align-items: -webkit-flex-start;
	-ms-align-items: -ms-flex-start;
	align-items: flex-start;
}

#footer>section.split.contact>section.alt>:last-child {
	margin-top: -0.325rem;
}
/*버튼*/
@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.name {
	display: flex;
	justify-content: space-between;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-right: 5%;
}

.button {
	height: 3rem;
	width: 3rem;
	padding: 0% 5%;
	font-family: 'EliceDigitalBaeum';
	font-size: 1.5rem;
	font-weight: 700;
	background-color: var(--color-drop);
	border-radius: 50%;
	border: 1pt solid #eeeeee;
	color: var(--color-txt);
}

.button:hover {
	font-size: 1.5rem;
	background-color: var(--color-right);
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.drop-content {
	position: absolute;
	z-index: 1;
	visibility: hidden;
	width: 0rem;
}
.act {
  visibility: visible;
	animation: to-top 1s forwards;
	transition: all 0.2s;
  	width: 6rem;
	
}

.drop-content a {

	display: block;
	text-align: center;
	font-size: 65%;
	padding: 10%;
	color: var(--color-text);
	text-decoration: none;
	
	

}

.drop-content a:hover {
	color: #fff;
}

.menuList {

	border-radius: 5%;
	background: var(--color-left);
	margin: 5% 0rem 0rem -1.5rem;
	box-shadow: rgba(100, 100, 111, 0.4) 0px 4px 9px 0px;
}
#calHr {
    margin: 0rem 0; 

}
.name>h2 {
	padding-left: 40%;
}

@media screen and (max-width: 468px) {
	.name>h2 {
		padding-left: 32%;
		padding-top: 2%;
	}
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	width: 100%;
	background: white;
	height: 8%;
}

@media screen and (max-width: 420px) {
	.btn-group, .btn-group-vertical {
		height: 8.1%;
	}
}

@media screen and (max-width: 380px) {
	.btn-group, .btn-group-vertical {
		height: 6.5%;
	}
}

@media screen and (max-width: 360px) {
	.btn-group, .btn-group-vertical {
		height: 8%;
	}
}

@media screen and (max-width: 290px) {
	.btn-group, .btn-group-vertical {
		height: 10%;
	}
}
#btnRight {
	color: var(--color-txt);
	background-color: var(--color-left);
	border-color: transparent;
	border-radius: 0;
	font-size: 1.3rem;
}
@media screen and (max-width: 360px) {
#btnRight {
	    width: 32%;
}
}


#btnLeft {
	border-color: transparent;
	color:var(--color-txt);
	background-color: var(--color-right);
	border-radius: 0;
	font-size: 1.3rem;
}
.calendar-footer {
	padding: 0.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;.
}

@media screen and (max-width: 420px) {
	.calendar-footer {
		height: 6.3%;
	}
}

@media screen and (max-width: 370px) {
	.calendar-footer {
		height: 7%;
	}
}

.toggle {
	display: flex;
	align-items: center;
}

.toggle span {
	margin-right: 0.7rem;
	color: var(--color-txt);
}

.dark-mode-switch {
	position: relative;
	width: 3.5rem;
	height: 1.7rem;
	border-radius: 0.9rem;
	background-color: var(--bg-second);
	cursor: pointer;
}

.dark-mode-switch-ident {
	width: 1.45rem;
	height: 1.45rem;
	border-radius: 50%;
	background-color: var(--bg-main);
	position: absolute;
	top: 0.15rem;
	left: 0.15rem;
	transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
	top: 0.15rem;
	left: calc(0.15rem + 50%);
}
@media screen and (max-width: 360px) {
	#btnLeft {
		width: 32%;
	}
}